#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    font-size: bold;
    background-color: aliceblue;
    border-color: aliceblue;
  }
  
  .high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
  }
  
  .high-score:hover {
    transform: scale(1.025);
  }